<main>
    <app-navbar></app-navbar>

    <div class="container">
        <div class="columns">
            <div class="column has-background-primary-85 form-box">
                <h1 class="title is-1">Register</h1>
                <h2 class="subtitle is-3">Create an account to get started</h2>
                <hr>

                <form [formGroup]="registerForm" (ngSubmit)="registerNewUser()">
                    <div class="field">
                        <label class="label">Email</label>
                        
                        <div class="control">
                          <input class="input" [class.is-danger]="registerForm.controls['email'].touched && registerForm.controls['email'].invalid" type="email" placeholder="Enter your Email" formControlName="email">
                        </div>
                        
                        <p class="help is-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
                            Email is invalid
                        </p>
                    </div>
                      
                    <div class="field">
                        <label class="label">Password</label>

                        <div class="control">
                            <input class="input" [class.is-danger]="registerForm.controls['password'].touched && !registerForm.controls['password'].valid" type="password" placeholder="Enter Password" formControlName="password" name="password">
                        </div>

                        <div *ngIf="registerForm.controls['password'].touched ">
                            <p class="help is-danger" *ngIf="registerForm.controls['password'].errors?.['required']">
                                Please set a Password
                            </p>

                            <p class="help is-danger" *ngIf="registerForm.controls['password'].errors?.['minlength']">
                                Must be at least 7 characters long.
                            </p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Confirm Password</label>

                        <div class="control">
                            <input class="input" [class.is-danger]="registerForm.controls['passwordConfirmation'].touched && !registerForm.controls['passwordConfirmation'].valid" type="password" placeholder="Confirm Password" formControlName="passwordConfirmation" name="passwordConfirmation">
                        </div>

                        <div *ngIf="registerForm.controls['passwordConfirmation'].touched ">
                            <p class="help is-danger" *ngIf="registerForm.controls['passwordConfirmation'].value !== registerForm.controls['password'].value">
                                Passwords must match.
                            </p>
                        </div>
                    </div>
                      
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                    </div>
              
                </form>
            </div>

            <div class="column has-background-primary-95 form-box">
                <h1 class="title is-1">Login</h1>
                <h2 class="subtitle is-3">Login to your account to continue</h2>
                <hr>

                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Your email" [class.is-danger]="loginForm.controls['email'].touched && !loginForm.controls['email'].valid" formControlName="email" />
                        </div>

                        <p class="help is-danger" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
                            Email is invalid
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="Your password" formControlName="password" [class.is-danger]="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
                        </div>

                        <p class="help is-danger" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
                            You must enter your password.
                        </p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
