<main>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="../../assets/mysms_logo.png" style="max-height: 6em;">
            </a>
      
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item is-selected">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>

    <div class="container">
        <div class="columns">
            <div class="column has-background-primary-85 form-box">
                <h1 class="title is-1">Register</h1>
                <h2 class="subtitle is-3">Create an account to get started</h2>
                <hr>

                <form [formGroup]="registerForm">
                    <div class="field">
                        <label class="label">Email</label>
                        
                        <div class="control">
                          <input class="input is-danger" type="email" placeholder="Enter your Email" formControlName="email">
                        </div>
                        
                        <p class="help is-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
                            Email is invalid
                        </p>
                    </div>
                      
                    <div class="field">
                        <label class="label">Password</label>

                        <div class="control">
                            <input class="input" type="password" placeholder="Enter Password" formControlName="password" name="password">
                        </div>

                        <div *ngIf="registerForm.controls['password'].touched ">
                            <p class="help is-danger" *ngIf="registerForm.controls['password'].errors?.['required']">
                                Please set a Password
                            </p>

                            <p class="help is-danger" *ngIf="registerForm.controls['password'].errors?.['minlength']">
                                Must be at least 7 characters long.
                            </p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Confirm Password</label>

                        <div class="control">
                            <input class="input" type="password" placeholder="Confirm Password" formControlName="passwordConfirmation" name="passwordConfirmation">
                        </div>

                        <div *ngIf="registerForm.controls['passwordConfirmation'].touched ">
                            <p class="help is-danger" *ngIf="registerForm.controls['passwordConfirmation'].value !== registerForm.controls['password'].value">
                                Passwords must match.
                            </p>
                        </div>
                    </div>
                      
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                    </div>
              
                </form>
            </div>

            <div class="column has-background-primary-95 form-box">
                <h1 class="title is-1">Login</h1>
                <h2 class="subtitle is-3">Login to your account to continue</h2>
                <hr>

                <form [formGroup]="loginForm">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Your email">
                        </div>

                        <p class="help is-danger" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
                            Email is invalid
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="Your password">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>